/* HEADER AND NAVBAR */

header {
display: flex;
flex-flow: row wrap;
justify-content: space-between;
background-color: slategray;
padding: 22px 0 22px 0;
}

header h1 {
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 2.5em;
    color: black;
    background-color: lightgrey;
    padding: 5px 20px 0px 50px;
    
}

nav {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    padding: 0px 50px 0px 0px;
}

ul {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: 3px solid black;
    margin: 5px 8px 5px 8px;
    padding: 0 0 0 0;
}

/* MAIN CONTAINER - Contains all of the non-header sections */

#maincontainer {
    display: flex;
    flex-flow: row wrap;
}

/* BANNER IMAGE */

.banner {
    background-image: url(../assets/images/banner.svg);
    background-size: cover;
}

/* ------------- SECTIONS START ------------- */

.section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%
}

.section h2 {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 3em;
    width: 200px;
    text-align: right;
    padding: 10px 20px 10px 10px;
    margin: 20px;
    border-right: 2px solid black;
}

/* ABOUT ME PARAGRAPH */

.section p {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 1.2em;
    flex-basis: 1000px;
    text-align: left;
    padding: 10px;
    margin: 20px;
}

/* WORK IMAGES */

.works {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-basis: 1000px;
    padding: 10px;
    margin: 20px;
}

.works img {
    width: 50px;
    height: 50px;
    flex-basis: 50%;
}

#bigwork {
    height: 300px;
    width: 500px;
    padding: 10px;
    margin: 20px;
    flex-basis: 100%;
}
